@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Bienvenido al sistema de gestión de empleados</h1>


<style>
    div {
        text-align: center;
    }
</style>

<div>
    <img src="https://blog.gympass.com/wp-content/uploads/2018/03/shutterstock_428032408-950-x-352-px.jpg">
</div>
